.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background: var(--primary-gray);
  padding: 5px;
  position: fixed;
  //left: -10rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: var(--text-white);
  z-index: 2000;

}

.open {
  transform: translateX(0%);
  transition: .5s;
}

.closed {

  transform: translateX(-80%);
  transition: .5s;
}

* {
  color: var(--text-white)
}